
button {
   margin-right: 15px;
   color:seashell;
background-color: cadetblue;
   
}
.example-container{
display: inline-flex;
 text-align: center;
   margin-top: 4%;

}
.input{
    min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.example-container1{
 
width: 50vh;
}
.example-container2{
 margin-left: 3vh;
 
width: 50vh;
}
.example-container3{
//  margin-top: 2%;
  text-align: center;
 

}
.channel{
 margin-top: 2%;
  text-align: center;
}
h1{
  
  font-style: italic;
}
.example{
  text-align: center;
}