<!-- <button mat-raised-button class="topbutton" color="accent" style="align-items:unset;">Script in Use</button> -->
<!-- <button  class="topbutton" type="button" mdbBtn mdbWavesEffect>Script in Use</button> -->
<!-- <a href="http://www.google.com" class="toplink">In Draft</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="http://www.google.com" class="toplink1">In Use</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="http://www.google.com" class="toplink2">New</a> -->
<!-- 
<div class="searchbox">
        Name:<input type="text"  placeholder="Search By Name"/><br><br>
</div> -->
<div class="table">
    <ao-enterprise-grid ao-grid-data [gridData]=scriptGridDataPromise ao-grid-config [gridConfig]=gridConfig ao-actions [actionDispatcher]=scriptDispatcher></ao-enterprise-grid>
</div>