<h2><b>OVERVIEW</b></h2>

<div class="card1">
    <mat-card><b id='header'>Sources</b>
        <mat-card-content><b>89</b></mat-card-content>
    </mat-card>
</div>
<br><br><br>
<div class="card2">
    <mat-card><b id='header'>Publications</b>
        <mat-card-content><b>82</b></mat-card-content>
    </mat-card>
</div>
<br><br><br>
<div class="card3">
    <mat-card><b id='header'>Editions</b>
        <mat-card-content><b>246</b></mat-card-content>
    </mat-card>
</div>

<div class="card4">
    <mat-card><b id='header'>Active Editions</b>
        <mat-card-content><b>229</b></mat-card-content>
    </mat-card>
</div>

<h2><b>TODAY</b></h2>

<h3><b>Pages</b></h3>

<div class="card5">
    <mat-card><b id='header'>Downloaded</b>
        <mat-card-content><b>8123</b></mat-card-content>
    </mat-card>
</div>

<div class="card6">
    <mat-card><b id='header'>Converted</b>
        <mat-card-content><b>8078</b></mat-card-content>
    </mat-card>
</div>

<div class="card7">
    <mat-card><b id='header'>In progress</b>
        <mat-card-content><b>45</b></mat-card-content>
    </mat-card>
</div>
<br><br>

<h3 id="article"><b>Articles</b></h3>
<div class="card8">
    <mat-card><b id='header'>Articles</b>
        <mat-card-content><b>21003</b></mat-card-content>
    </mat-card>
</div>

<div class="card9">
    <mat-card><b id='header'>Snippets</b>
        <mat-card-content><b>451</b></mat-card-content>
    </mat-card>
</div>