h2 {
    margin-top: 50px;
    margin-left: 30px;
}

h3 {
    margin-left: 30px;
    color: darkcyan;
}

#header {
    color: green;
}

#article {
    margin-left: 30px;
    color: darkcyan;
}

.card1 {
    height: 54px;
    width: 200px;
    text-align: center;
    font-size: medium;
    margin-left: 35px;
}

.card2 {
    height: 54px;
    width: 200px;
    text-align: center;
    font-size: medium;
    margin-left: 450px;
    margin-top: -113.5px;
}

.card3 {
    height: 54px;
    width: 200px;
    text-align: center;
    font-size: medium;
    margin-left: 900px;
    margin-top: -113.5px;
}

.card4 {
    height: 54px;
    width: 200px;
    text-align: center;
    font-size: medium;
    margin-left: 1350px;
    margin-top: -50.5px;
}

.card5 {
    height: 54px;
    width: 200px;
    text-align: center;
    font-size: medium;
    margin-left: 35px;
}

.card6 {
    height: 54px;
    width: 200px;
    text-align: center;
    font-size: medium;
    margin-left: 450px;
    margin-top: -50.5px;
}

.card7 {
    height: 54px;
    width: 200px;
    text-align: center;
    font-size: medium;
    margin-left: 900px;
    margin-top: -50.5px;
}

.card8 {
    height: 54px;
    width: 200px;
    text-align: center;
    font-size: medium;
    margin-left: 35px;
}

.card9 {
    height: 54px;
    width: 200px;
    text-align: center;
    font-size: medium;
    margin-left: 450px;
    margin-top: -50.5px;
}

mat-card {
    height: 54px;
    background-color: white;
}

mat-card-content {
    font-size: 25px;
}