.title {
    font-size: 50px;
    color: white;
}



#home {
    color: white;
    margin-left: -5vh;
}

#icon {
    color: red;
}

#local {
    margin-left: -5vh;
    color: palegreen
}

.icon {
  padding: 0 14px;
}

.spacer {
  flex: 1 1 auto;
margin-left: 80%;
}

.footer {
    background: #3367d6;
    font: 400 13.3333px Arial;
    color: white;
    position: fixed;
    bottom: 0;
}
