    .button1 {
        margin-right: 15px;
        color: seashell;
        background-color: rgb(218, 212, 212);
    }
    
    .button2 {
        margin-right: 15px;
        color: seashell;
        background-color: cadetblue;
    }
    
    // .select1{
    // }
    // .select2{
    // }